{% extends "base.html" %}
{% block title %}Delete {{ menu_item.name }}{% endblock %}
{% block content %}
    <h2>{{ restaurant.name }}</h2>
    <h1>Delete {{ menu_item.name }}</h1>
    <p>
        Are you sure you'd like to delete "{{ menu_item.name }}"?
    </p>
    <form action="" method="post">
        <button class="btn btn-default" type="submit">Confirm</button>
    </form>
    <a class="btn btn-default" href="{{ url_for('single_restaurant', restaurant_id=restaurant.id) }}">
        Cancel
    </a>
{% endblock %}
