{% extends "base.html" %}
{% block title %}Edit {{ menu_item.name }}{% endblock %}
{% block content %}
    <h2>{{ restaurant.name }}</h2>
    <h1>Edit {{ menu_item.name }}</h1>
    <form action="" method="post">
        <label>
            Name
            <input type="text" name="menu_item_name" value="{{ menu_item.name }}">
        </label>
        <label>
            Description
            <input type="text" name="menu_item_description" value="{{ menu_item.description }}">
        </label>
        <label>
            Price
            <input type="text" name="menu_item_price" value="{{ menu_item.price }}">
        </label>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
    <a class="btn btn-default" href="{{ url_for('single_restaurant', restaurant_id=restaurant.id) }}">
        Cancel
    </a>
{% endblock %}
