{% extends "base.html" %}
{% block title %}New Menu Item{% endblock %}
{% block content %}
    <h2>{{ restaurant.name }}</h2>
    <h1>New Menu Item</h1>
    <form action="" method="post">
        <label>
            Name
            <input type="text" name="menu_item_name" value="">
        </label>
        <label>
            Description
            <input type="text" name="menu_item_description" value="">
        </label>
        <label>
            Price
            <input type="text" name="menu_item_price" value="">
        </label>
        <input type="submit" name="" value="Create">
    </form>
    <a href="{{ url_for('single_restaurant', restaurant_id=restaurant.id) }}">
        Cancel
    </a>
{% endblock %}
